header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}
.header-logo {
    margin-left: 20px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/logo.png');
    height: 70px;
    width: 100px;
}