header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
}
.logo object {
    position: absolute;
    vertical-align: center;
    left: 20px;
    margin-top: 5px;
}